<!-- #region c#Code -->
@page "/fetchdata"

@inject IFrontEndService _frontEndService

@code {

    private List<Produit> Data = null;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Data = await _frontEndService.GetProduits();
    }

}
<!-- endregion-->
<!-- #region Html -->

@if (Data == null)
{
    <h4>Loading...</h4>
}
else
{
    <h3>Prodect Details</h3>
    @if (Data.Any())
    {
<table class="table alert-dark">
    <thead>
        <tr>
            <td>Id </td>
            <td>Name </td>
            <td>Price </td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Data)
        {
            <tr>
                <td>@item.Id </td>
                <td>@item.Name </td>
                <td>@item.Price </td>

            </tr>
        }

    </tbody>

</table>

    }



}
<!-- endregion-->
